doctype
html
  head    
    link(href="./css/styles.css", type="text/css", rel="stylesheet")
    link(href="./css/styles.css", type="text/css", rel="stylesheet")
    link(rel="shortcut icon", href="../img/icon.jpg")

    meta(name="google-site-verification" content="KK4gQITwNt3LYCGPtOBKsw6UlbU9PmUVhyr7eZ60ys0")
    meta(name="keywords" content="horizon 2020, eu, Ukraine, eu funding, eu finance, eu projects, sme, project management, association agreements, jwa, jwafunding")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title JWA Funding
    
  body
    #main-wrapper.color-skin-7

  script(src='./js/libs.js')
  script(src='./js/scripts.js')