doctype
html
  head    
    link(href='./css/styles.css', type="text/css", rel="stylesheet")
      
    title Consulting
      
  body
    #main-wrapper.color-skin-7
      include modules.jade

  script(src='./js/libs.js')
  script(src='./js/scripts.js')