doctype
html
  head    
    title Consulting
      
  body
    #main-wrapper.color-skin-7
      include modules.jade

  link(href='./css/styles.css', type="text/css", rel="stylesheet")
  script(src='./js/libs.js')
  script(src='./js/scripts.js')