include modules/preHeader.jade
include modules/header.jade
include modules/bannerContainer.jade
include modules/postHeader.jade

.tab-content.section#mainModules
  include modules/news.jade
  include modules/aboutUs.jade
  include modules/methodology.jade
  include modules/directions.jade
  include modules/clients.jade
  include modules/examples.jade
  include modules/lobbying.jade
  include modules/contacts.jade
  
include modules/mission.jade
include modules/currentClients.jade  
include modules/footer.jade