li
  article.post
    .post-content
      h4.post-title
        a(href='#')= title
    .post-meta
      ul.meta-list
        li
          span.black= date
        li
          a.read-news(href='#') Read
            i.icon-long-arrow-right