@import 'libs/normalize';
@import 'libs/bootstrap';
@import 'libs/skins';
@import 'libs/stylesheet';
@import 'libs/font-awesome.min';

//colors
$color_aztec_approx: rgb(87, 87, 86);
$color_matisse_approx: #0f69a3;
$color_scooter_approx: #29aecd;
$color_boston_blue_approx: #2980b9;
$color_malibu_approx: #7ccaff;
$color_astral_approx: #287eb6;
$white: #fff;
$color_kournikova_approx: #ffe479;
$color_blue_ribbon_10_approx: rgba(0,90,255,.1);
$color_san_juan_approx: #2c4e71;

//font
$detailsFontSize: 130%;

%extend_1 {
	font-weight: 600;
	opacity: 0;
	transition: opacity .5s ease;
}


body {
	font-size: 16px!important;
	color: $color_aztec_approx;
}
a {
	&:hover {
		cursor: pointer;
	}
	&:not(.btn) {
		color: $color_matisse_approx;
	}
}
.tab-content {
	border: none;
}
#logoImage {
	height: 100px;
}
.service-2 {
	min-height: 110px;
}
.color-skin-7 .service {
	border: 2px solid #2980b9;
	background: #FFF;
	box-shadow: none;
	border-radius: 18px;

	&:hover {
		background-color: #ecf0f1;
		h4 {
			color: #2c3e50;			
		}
		.service-icon {
			box-shadow: none;
		}
	}
}
#ourMission {
	i {
		font-size: 100px;
		color: $color_malibu_approx;
		&:before {
			text-align: center;
			width: 100%;
		}
	}
}
.module {
	position: relative;
}
#mainModules {
	border: none;
}
.nav>li>a {
	&:hover {
		background: 0 0;
	}
	&:focus {
		background: 0 0;
	}
}
#examples {
	.portfolio-thumb>i {
		font-size: 100px;
		width: 100%;
		display: block;
		text-align: center;
		color: $color_astral_approx;
	}
	.portfolio-item {
		.portfolio-content {
			background: $color_astral_approx;
			height: 80px;
			* {
				color: $white;
			}
		}
		&:hover .portfolio-thumb .portfolio-link {
			margin-right: -25px;
		}
	}
	.image-overlay {
		background: $color_kournikova_approx!important;
	}
}
#news-wrapper {
	.post-meta {
		border-top: 0;
		margin-top: 3px;
	}
	article {
		padding: 5px 0;
	}
	.post-title {
		margin: 10px 0 0;
	}
}
#aboutUsIcon {
	height: 362px;
	width: 362px;
	margin: 20px 0;
	padding: 0;
	border-radius: 190px;
	overflow: hidden;
	img {
		width: 150%;
		min-height: 100%;
		padding: 0;
		margin-left: -46%;
	}
}
:focus::-webkit-input-placeholder {
	font-weight: 600;
	opacity: 0;
	transition: opacity .5s ease;
}
:focus::-moz-placeholder {
	@extend %extend_1;
}
:focus {
	&:-moz-placeholder {
		@extend %extend_1;
	}
	&:-ms-input-placeholder {
		font-weight: 600;
		opacity: 0;
		transition: opacity .5s ease;
	}
}
.banner {
	height: 235px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;

	&.aboutUsMenu {
		background-image: url(../img/banners/ABOUT_US.jpg);
	}
	&.lobbyingMenu {
		background-image: url(../img/banners/LOBBYING.jpg);
	}
	&.newsMenu {
		background-image: url(../img/banners/NEWS.jpg);
	}
	&.ourServicesMenu {
		background-image: url(../img/banners/SERVICES.jpg);
	}
}
#bannerContainer {
	background: $white;
}
#footerText {
	color: $white;
}
#header-1 {
	background-color: $color_san_juan_approx;
	.header-info-wrapper {
		float: right;
	}
	ul {
		float: right;
	}
}
#footer-1 {
	background-color: $color_san_juan_approx;
}
.sidebar {
	.post-title {
		font-size: 14px;
	}
	.post-meta {
		font-size: 12px;
	}
}
#our-clients {
	padding-top: 0;
}
.color-skin-7 a:hover {
	color: $color_scooter_approx;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: $color_boston_blue_approx;
}
#servicesTabs .service h4 {
	margin-top: 26px;
}
.service-2 {
	.service-icon {
		width: 70px;
		height: 70px;
	}
	&:not(:hover) {
		background: 0 0;
	}
}
#clients, #directions {
	.service-icon {
		background-size: cover;
		background-repeat: no-repeat;
		background-position-x: -22px;
	}
}
li.dropdown:hover {
	cursor: pointer;
}
#header-2 nav {
	background: 0 0;
	li.active {
		background-color: $color_blue_ribbon_10_approx;
	}
}
#ourContacts .contact-form {
	input {
		font-weight: 600;
	}
	textarea {
		font-weight: 600;
	}
}
nav .container {
	height: 100%;
}
#mainModules, #google-map, #mainModules>div {
	padding-top: 0;
}
#page-title-wrapper.section {
	padding: 30px 0 0;
}
.footer-contacts * {
	background: $color_san_juan_approx;
	border-color: $color_boston_blue_approx;
	color: $white;
	&:focus {
		border-color: $color_malibu_approx!important;
	}
}
.client-wrapper {
	height: 140px;
	a {
		display: block;
		height: 100%;
		width: 100%;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
}
.footer {
	.partners {
		a {
			display: block;
			float: left;
			height: 101px;
			max-width: calc(50% - 10px);
			margin-right: 10px;
			background-color: white;
  			img {
  				width: 100%;
  				max-width: 150px;
  			}
		}
	}
}
.container .details {
	display: none;
	position: absolute;
	font-size: $detailsFontSize;
	width: 80%;
}

.container + .details {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	font-size: $detailsFontSize;
	top: 0;
	background-color: white;
	padding-right: 70px;
	opacity: 0;

	&.show {
		opacity: 1;
		transition: opacity 0.3s ease-in;
	}

	.closing-icon {
		position: absolute;
		top: 0;
		right: 0;
		height: 50px;	
		width: 60px;
		text-align: center;
		font-size: 30px;
		line-height: 50px;
		&:hover {
			background: rgba(0,90,255,.1);
		}
	}
}

#directions {
	.row {
		position: relative;
	}
}