.module.tab-pane.section#aboutUs
  .container
    .row
      .col-md-6.wrapper-1
        i.icon-file-text-alt
      .col-md-6.wrapper-1
        h5.subpage-title= aboutJWA
        p= partAboutJWA1
        p= partAboutJWA2