.module.tab-pane.section#aboutUs
  .container
    .row
      .col-md-6.wrapper-1#aboutUsIcon
        img.col-md-6.wrapper-1(src="img/aboutUs.jpg")
      .col-md-6.wrapper-1
        h5.subpage-title= aboutJWA
        p= partAboutJWA1
        p= partAboutJWA2