.module.tab-pane.section#clients
  .container
    .row
      p= clientsMain
      -clientPics = ['corps', 'SMEs', 'UNIVERSITIES', 'NGO', 'public', 'individual_res']
      -clientTitles = [clients1, clients2, clients3, clients4, clients5, clients6]
      -clientDetailes = [clients1Details, clients2Details, clients3Details, clients4Details, clients5Details, clients6Details]


      each title, index in clientTitles

        .col-xs-12.col-sm-6.col-md-4.wrapper-1(data-hash="clients/" + (index+1))
          .service
            span.service-icon(style="background-image: url(../img/clientCategories/" + clientPics[index] + ".jpg);")
            h4= title
            .details
              .container
                .row
                  .col-md-6.wrapper-1.categoryIcon
                    img.col-md-6.col-lg-7.wrapper-1(src="img/clientCategories/" + clientPics[index] + ".jpg")
                  .col-md-6.wrapper-1
                    p= clientDetailes[index]