h5.subpage-title
  i.icon-compass= visitUs
address
  strong JWA FUNDING
  br
  |  51/53 Vladymyrskaya str.
  br
  |  01001 Kyiv, Ukraine
  br
  br
  |  183 rue du Noyer
  br
  |  1000 Brussels, Belgium
  br
h5.subpage-title
  i.icon-phone= contacts
address= telephone
  |: (+32) 2 737 97 90
  br
  a(href='mailto:info@jwafunding.com') info@jwafunding.com