    section#our-clients.section
      .container.wrapper-1
        h5.subpage-title
          span= ourClients
          span#client-next.next
            i.icon-angle-right
          span#client-prev.prev
            i.icon-angle-left
        .row
          .caroufredsel_wrapper
            .caroufredsel_wrapper
              #caroufredsel-clients-container
                .col-xs-12.col-sm-4.col-md-3.client-wrapper
                  a(href='http://www.worldbank.org/', target='_blank')
                    img.img-responsive(src='./img/clients/320_worldbank-logo.jpg', alt='The World Bank')
                .col-xs-12.col-sm-4.col-md-3.client-wrapper
                  a(href='http://www.ebrd.com/home', target='_blank')
                    img.img-responsive(src='./img/clients/EBRD_logo.jpg', alt='European Bank')
                .col-xs-12.col-sm-4.col-md-3.client-wrapper
                  a(href='http://www.eib.org/', target='_blank')
                    img.img-responsive(src='./img/clients/EIB-logo.jpg', alt='European Investment Bank')
                .col-xs-12.col-sm-4.col-md-3.client-wrapper
                  a(href='http://www.europarl.europa.eu/', target='_blank')
                    img.img-responsive(src='./img/clients/EP-logo-2-JPEG.jpg', alt='EUROPEAN PARLIAMENT')
                .col-xs-12.col-sm-4.col-md-3.client-wrapper
                  a(href='http://ec.europa.eu/index_en.htm', target='_blank')
                    img.img-responsive(src='./img/clients/european-commission-new-logo.jpg', alt='EUROPEAN COMMISSION')
                .col-xs-12.col-sm-4.col-md-3.client-wrapper
                  a(href='http://unctad.org/en/Pages/Home.aspx', target='_blank')
                    img.img-responsive(src='./img/clients/UNCTAD_logo.jpg', alt='UNCTAD')