section#our-clients.section
  .container.wrapper-1
    h5.subpage-title
      span= ourClients
      span#client-next.next
        i.icon-angle-right
      span#client-prev.prev
        i.icon-angle-left
    .row
      .caroufredsel_wrapper
        #caroufredsel-clients-container
          .col-xs-12.col-sm-4.col-md-3.client-wrapper(style="width:242px;")
            a(href='http://www.worldbank.org/', target='_blank', style='background-image: url(./img/clients/320_worldbank-logo.jpg);')
          .col-xs-12.col-sm-4.col-md-3.client-wrapper(style="width:242px;")
            a(href='http://www.ebrd.com/home', target='_blank', style='background-image: url(./img/clients/EBRD_logo.jpg);')
          .col-xs-12.col-sm-4.col-md-3.client-wrapper(style="width:242px;")
            a(href='http://www.eib.org/', target='_blank', style='background-image: url(./img/clients/EIB-logo.jpg);')
          .col-xs-12.col-sm-4.col-md-3.client-wrapper(style="width:242px;")
            a(href='http://www.europarl.europa.eu/', target='_blank', style='background-image: url(./img/clients/EP-logo-2-JPEG.jpg);')
          .col-xs-12.col-sm-4.col-md-3.client-wrapper(style="width:242px;")
            a(href='http://ec.europa.eu/index_en.htm', target='_blank', style='background-image: url(./img/clients/european-commission-new-logo.jpg);')
          .col-xs-12.col-sm-4.col-md-3.client-wrapper(style="width:242px;")
            a(href='http://unctad.org/en/Pages/Home.aspx', target='_blank', style='background-image: url(./img/clients/UNCTAD_logo.jpg);')