.module.tab-pane.section#directions
  .container
    .row
      .container-fluid= directionsMain

      -directionsPics = ['ECONOMICS', 'development', 'ENVIRONMENT', 'RESEARCH', 'trainings', 'CULTURE', 'TRANSPORT', 'TOURISM']
      -directionsTitles = [direction1, direction3, direction4, direction5, direction8, direction6, direction2, direction7]
      -directionsDetailes = [direction1Details, direction3Details, direction4Details, direction5Details, direction8Details, direction6Details, direction2Details, direction7Details]


      each title, index in directionsTitles

        .col-xs-12.col-sm-6.col-md-4.wrapper-1(data-hash="directions/" + (index+1))
          .service
            span.service-icon(style="background-image: url(../img/directions/" + directionsPics[index] + ".jpg);")
            h4= title
            .details
              .container
                .row
                  .col-md-6.wrapper-1.categoryIcon
                    img.col-md-6.col-lg-7.wrapper-1(src="img/directions/" + directionsPics[index] + ".jpg")
                  .col-md-6.wrapper-1
                    p= directionsDetailes[index]