footer#footer-1.footer
  .container
    .row
      .col-md-4
        .widget.about-us
          span.footer-brand JWA
          p= partAboutJWA1
      .col-md-3
        .widget.popular-posts
          h5.subpage-title News
          ul.recent-posts
            li
              i.icon-leaf
              h5
                a(href='javascript:void(0)') The Ultimate Guide to Adjustment Layers &ndash; Vibrance
                small Posted July 20, 2013
            li
              i.icon-leaf
              h5
                a(href='javascript:void(0)') Complete Guide to What&rsquo;s New in Adobe Photoshop 14.1
                small Posted July 15, 2013
            li
              i.icon-leaf
              h5
                a(href='javascript:void(0)') How to Integrate Lightroom Into Your Photoshop Workflow
                small Posted July 10, 2013