footer#footer-1.footer
  .container
    .row
      .col-md-4
        .widget.about-us
          span.footer-brand JWA
          p= partAboutJWA1
      .col-md-3
        .widget.popular-posts
          h5.subpage-title News
          - var i = 0
          ul.recent-posts#footer-news
            while i < 3
              li
                h5
                  a(href='#news' data-id= i)= news[i].title 
                  small= news[i].date
                  - i++