header#header-2.header
    nav(class="navbar navbar-default", role="navigation")
        .container
            .navbar-header
                button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".navbar-ex1-collapse")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                img#logoImage(src="./img/logo.png")

            .collapse.navbar-collapse.navbar-ex1-collapse
                ul.nav.navbar-nav
                    li.active: a(href="#news")= newsTitle
                    li.dropdown
                        a(class="dropdown-toggle", data-toggle="dropdown")= aboutJWA
                        ul.dropdown-menu
                            li: a(href="#aboutUs")= aboutUs
                            li: a(href="#ourContacts")= ourContacts
                    li.dropdown.showOurMission
                        a(class="dropdown-toggle", data-toggle="dropdown")= ourServices
                        ul.dropdown-menu
                            li: a(href="#ourMethods")= ourMethods
                            li: a(href="#directions")= directions
                            li: a(href="#clients")= clients
                            li: a(href="#lobbying")= lobbying
                            li: a(href="#examples")= examples