.module.tab-pane.section#ourMission
  .container
    .row
      .col-md-6.wrapper-1#missionImageWrapper
        img.col-md-6.col-lg-7.wrapper-1(src="img/mission.jpg")
      .col-md-6.wrapper-1
        p= ourPurposeText