section#ourMissionWrapper.section
    .container
        .row
          .col-md-6.wrapper-1
            i.icon-flag
          .col-md-6.wrapper-1
            h5.subpage-title= ourPurposeTitle
            p= ourPurposeText
