header#header-1.header
  .container
    .row
      .col-xs-12.col-sm-8.header-info-wrapper
        ul.list-inline
          li
            i.icon-mobile-phone  Mobile: (123) 456-7890
          li
            i.icon-envelope  Mail: 
            a(href='mailto:contact@example.com') contact@example.com
      .col-xs-12.col-sm-4.social-link-wrapper
        ul.social-links
          li
            a(href='#')
              i.icon-facebook
          li
            a(href='#')
              i.icon-google-plus
          li
            a(href='#')
              i.icon-twitter
          li
            a(href='#')
              i.icon-pinterest
          li
            a(href='#')
              i.icon-linkedin
          li
            a(href='#')
              i.icon-dribbble