header#header-1.header
  ul.social-links
    li
      a(href="https://www.linkedin.com/company/9349649?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A9349649%2Cidx%3A1-1-1%2CtarId%3A1440416451923%2Ctas%3Ajwa%20fundi")
        i.icon-linkedin
    a.vertical-sep  | 
    li
      a.lang(href="#", "data-lang"="ua") UA 
    li
      a.lang(href="#", "data-lang"="ru") RU
    li
      a.lang(href="#", "data-lang"="en") EN